<ion-view cache-view="false" id="fiche"   ng-class="{red:matiere.color === 'red',yellow:matiere.color === 'yellow',green:matiere.color === 'green',blue:matiere.color === 'blue',readonly: isReadOnly()}" >

  <ion-nav-buttons side="left">
    <button id="btnBack" nav-direction="back" class="button button-main icon ion-ios7-arrow-back" ng-click="back()" style="display:none">&nbsp;{{matiere.name}}</button>
    <button id="btnCancel" class="button button-main" ng-click="cancel()" style="display:none" >Cancel</button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button id="btnModify" class="button  button-main" ng-click="modifierFiche()" style="display:none" >Modifier</button>
    <button id="btnSave" class="button  button-main" ng-click="saveFiche()" style="display:none" >Save</button>
  </ion-nav-buttons>


  <ion-header-bar id="subheader" class="bar bar-subheader bar-positive" ></ion-header-bar>

  <ion-content>

    <textarea class="ckeditor" name="editor1" >
    </textarea>

	</ion-content>
</ion-view>
