.cke_chrome {
  border: none!important;
  box-shadow: none!important;
}

.button-main {
  border:none!important;
  font-size: 17px!important;
  background-color: inherit!important;
}
.popup-head {
  background-color: #387ef5;
}
.popup-title {
  color: white;
  font-size: 17px;
}
ion-view {

  /*background: #0050d1;
  background: -moz-linear-gradient(top, #0050d1 0%, #385789 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0050d1), color-stop(100%,#385789));
  background: -webkit-linear-gradient(top, #0050d1 0%,#385789 100%);
  background: -o-linear-gradient(top, #0050d1 0%,#385789 100%);
  background: -ms-linear-gradient(top, #0050d1 0%,#385789 100%);
  background: linear-gradient(to bottom, #0050d1 0%,#385789 100%); */
}

ion-view#fiche.red { background-color: #FFE6E6;}
ion-view#fiche.yellow { background-color: #FEFFE6;}
ion-view#fiche.green { background-color: #E6FFE8;}
ion-view#fiche.blue { background-color: #E6ECFF;}
ion-view#fiche.readonly #subheader {display: none}
ion-view#fiche.readonly .has-subheader { top:44px;}
ion-view#fiche #subheader { padding: 0; padding-top:1px; border:none; background-color: transparent; }

.list a {

  /*font-size: 20px;
  font-family: calibri;
  background-color: #eee;
  margin: 10px 20px;
  border-radius: 8px;
  padding: 20px 20px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);*/
}

